<a href="https://colab.research.google.com/github/zhouchun0105/credit-card-churners/blob/main/credit_card_churners.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import auth
auth.authenticate_user()

In [ ]:
%%bigquery --project=ba775-team-project
SELECT gender FROM ba775-team-project.bankchurners.bankchurners
LIMIT 5;

  gender
0      F
1      M
2      M
3      M
4      M